<div class="box box-solid box-success">
<div class="box-header with-border">
    <h3 class="box-title">Menú</h3>
    <div class="box-tools pull-right">
    </div>
</div>
    <div class="box-body">
        <div style="overflow-y: auto; height:150px; ">
            Hola <br>
            <hr>
        </div>
    </div>
 </div>