@using Tabemashou_User.Models
@{
    ViewBag.Layout = null;
}
<header class="main-header">
    <a href="@Url.Action("Index", "Home")" class="logo">
        <span class="logo-mini" style="font-size: 28px;">食</span>
        <span class="logo-lg"><b>食</b>Tabemashou!</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                
                <li>
                    <div class="input-group input-group-sm" style="padding-top: 10px">
                        @using (Html.BeginForm("Create", "Checks", FormMethod.Post))
                        {
                            <div class="input-group input-group-sm">
                                @Html.Editor("Code", new {htmlAttributes = new {@class = "form-control", @placeholder = "Code"}})
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success fa fa-check"></button>
                                </span>
                            </div>
                        }
                    </div>
                </li>
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                        page and may cause design problems
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-red"></i> 5 new members joined
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user text-red"></i> You changed your username
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
</header>